<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <!-- This Menu Item will appear in the Upper bar, that's why It needs NO parent or action -->
    <menuitem id="vellas_menu_root" name="Vellas Brand" sequence="30"/>

    <!-- This Menu Item Must have a parent -->
    <menuitem id="vellas_akomodasi_menu_categ" name="Akomodasi" parent="vellas_menu_root" sequence="10"/>

    <!-- This Menu Item Must have a parent -->
    <menuitem id="vellas_partner_menu_categ" name="Partner" parent="vellas_menu_root" sequence="20"/>

</odoo>
